#main_bg{
    background-image:url('background.jpg');
    background-repeat: no-repeat;
    height:100%; 
    background-size: cover;
    background-position: center;
    background-color: rgb(23, 24, 63);}

#logo_img{
    float: left;
    margin-left: 5px;
    width:260px;
    height: 80px;
    align-items:center;
    display: flex;   
}
#header_title{
    position: relative;
    top:2px;
    margin-right: 10px;
    color:white;
    font-family: Gabriola;
    font-size: 20px;
    text-shadow:2px 2px 4px rgb(243, 101, 6);
    
}
#header_title1{
    position: relative;
    top:10px;
    color:white;
    font-family: Lucida Handwriting;
    font-size: 40px;
}
#header_field{
    background-color: rgba(0, 0, 0, 0.404);
    border: none;
}
#header_field2{
    background-color: rgba(0, 0, 0, 0.404);
    border: none;
    height: 55px;
}

#nav{
    text-align: right;
    height: 60px;
}
nav li{
    display: inline-block;
    margin-right:10px;
    list-style-position: none;
}
a{
    text-decoration:none;
}
.dropbtn1,.dropbtn2 ,.dropbtn3,.dropbtn4,.dropbtn5,.dropbtn6{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.774);

    border-radius: 15px;
  }
  .dropbtn1:hover,.dropbtn2:hover ,.dropbtn3:hover,.dropbtn4:hover,.dropbtn5:hover,.dropbtn6:hover{
    
    background-color: rgb(31, 31, 102);
    color: white;
  }
  .dropdown,.dropdown4,.dropdown6{
    position: relative;
    display: inline-block;

    
  }
  .dropdown-content,.dropdown-content4,.dropdown-content6 {
    text-align: left;
    display: none;
    position: absolute;
    background-color: rgb(61, 61, 117);
    min-width:100px;
    border-radius: 10px;
    z-index: 1;
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content4 a{
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content6 a{
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover,.dropdown-content4 a:hover,.dropdown-content6 a:hover {background-color: #0989f1;
  border-radius: 10px;}
  .dropdown:hover .dropdown-content,.dropdown4:hover .dropdown-content4,.dropdown6:hover .dropdown-content6 {
    display: block;    
  }
  #middle{
      margin-top: 6px;
      height: 785px;
      width: 900px;
      background-color: rgba(255, 255, 255, 0.856);
      border: none;
      border-radius: 10px;
  }
  #dir_img{
      height: 30px;
      width: 30px;
      position: absolute;
      bottom: 4px;
  }
  #dir_td{
    position: relative;
    width: 30px;;
  }
.cheak_box{
    height:40px;
    width: 400px;
    border-radius:5px;
}
.cheak_box1{
    height:35px;
    width: 80px;
    border: none;
    border-radius: 8px;
}
 
  .date{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
  }

#mid_title1{
    font-family: fantasy;
    font-size: 40px;
}
#mid_title2{
    font-family: cursive;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.568);
}
#mid_title_font{
    font-family: monospace;
    font-size: 20px;
}
#mid_title_font1{
    font-family: monospace;
    font-size: 20px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color:black;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 3px solid black;
    border-radius: 100%;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: red;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
#label1{
    font-family: monospace;
    font-size: 20px;
}
#T_members{
  font-family: monospace;
    font-size: 20px;
}
.cheak_box1{
  width:180px;
}
#years{
  color: red;
  font-size: medium;
}

#Button1{
  font-family: Georgia, serif;
  color: #000;
  padding: 8px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#Button2{
  font-family: Georgia, serif;
  padding: 8px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#Button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:red;

}
#Button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:red;
}
#Book{
    color: black;
      font-family: Georgia, serif;
      padding: 18px;
      width: 200px;
      height: 70px;
      font-size: 25px;
      border: none;
      cursor: pointer;
      background-color: white;
      border-radius: 15px;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#Book:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:red;
  color: white;
}
 
b{
  color: rgb(0, 0, 0);
  font-family: Georgia, serif;
  font-size: small;
}
b:hover{
  color: rgb(255, 255, 255);
  font-family: Georgia, serif;
  font-size: small;
}
#ad_field1{
 width: 950px;
 border: none;
 
}
#flex{
  display: flex;
}

#ad_field3{

  height: 400px;
  width: 80%;
  background-color: rgb(58, 55, 55);

  border-bottom: white;
  border-right: none;
  border-left: none;
  
}
#footer{
  width: 200px;
  height: 300px;
  margin-top: 30px;
  margin-left: 60px;
  border: none;
  font-family: Tahoma;
}
#footer1{
  width: 300px;
  margin-top: 25px;
  border: none;
  font-family: Tahoma;
}
#footer2{
  width: 250px;
  margin-top: 30px;
  border: none;
  font-family: Tahoma;
}
#footer3{
  width: 250px;
  margin-top: 25px;
  border: none;
  font-family: Tahoma;
}
#footer4{
  width: 600px;
  margin-top: 30px;
  border: none;
  color: white;
  font-family: Tahoma;
}
#flex2{
  display: flex;
}
#inner1{
  color: rgb(255, 115, 0);
  margin-left:40px;
  font-size: 20px;
  font-family:Helvetica;
  text-decoration: underline;
  text-underline-position: under; 
}
#ul1{
  list-style-type:none;
}
#text1{
  color: white;
}
#logo_img1{
  width: 380px;
  height: 150px;
  margin-left: 40px;
}
#copyright{
  margin-left: 40%;
  height: 23px;
  width: 25px;  
  background-color: white;
}

.slider{
  height: 800px;
  width:950px;
  border-radius: 10px;
  overflow: hidden;
}
.slides{
  width:500%;
  height: 800px;
   display: flex;
}

.slides input{
  display: none;
}
.slide{
  width:20%;
  transition: 2s;
}
.slide img{
  height: 800px;
  width:950px;
}

.navigative-manual{
  position: absolute;
  width: 950px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn{
  border:3px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right:20px;
}
.manual-btn:hover{
  background: white;
}
#radio1:checked~.first{
  margin-left: 0;
}
#radio2:checked~.first{
  margin-left: -20%;
}
#radio3:checked~.first{
  margin-left: -40%;
}
#radio4:checked~.first{
  margin-left: -60%;
}
#radio5:checked~.first{
  margin-left: -80%;
}

.navigation-auto{
  position: absolute;
  display: flex;
  width: 950px;
  justify-content: center;
  margin-top: 760px;

}
.navigation-auto div{
  border: 3px solid black;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 20px;
}

#radio1:checked~.navigation-auto .auto-btn1{
   background-color:white;
}
#radio2:checked~.navigation-auto .auto-btn2{
  background-color:white;
}
#radio3:checked~.navigation-auto .auto-btn3{
  background-color: white;
}
#radio4:checked~.navigation-auto .auto-btn5{
  background-color: white;
}
#radio5:checked~.navigation-auto .auto-btn5{
  background-color:white;
}


            
#adimg{
  width:100%;
  height:600px;
  border-radius: 20px;
}
.col-8{
  width:100%;
  float:left;
  background-color: rgba(255, 255, 255, 0.623);
  border-radius: 20px;
}

.glide__arrows{
  position: absolute;
  top: 50%;
  width: 1810px;
}
#left_arrow1{
  color: white;
}
.glide__arrows .glide__arrow{
 border:none;
 width:100px;
 height:100px;
 text-align: center;
 background-color: rgba(0, 0, 0, 0);
 line-height: 20px;
 border-radius: 50%;
 color: black;
 font-size:22px;
}
.glide__arrows .glide__arrow:hover{
  background-color: rgba(255, 255, 255, 0.664);
  
}
#left_arrow1:hover{
  color: #000;
}
.glide__arrows .glide__arrow.glide__arrow--left{
      left: 0;
}
.glide__arrows .glide__arrow.glide__arrow--right{
      right: -80px;
}
.glide__slide{
transform: scale(.9);
filter: brightness(50%);
transition: all ease 0.5s;
}
.glide__slide.glide__slide--active{
transform: scale(1);
filter: brightness(100%);
}
#ad_field2{
  height: 30px;
  border: none;
}
.col-8 h1{
  text-align: center;
  color: white;
  text-shadow: black;
}
#inner_img-1{
  margin-top: 40px;
  margin-left: 30px;
  height: 70px;
  display: flex;
  
}
#inner_img-2{
  margin-top: 40px;
  margin-left:120px;
  height: 70px;
  display: flex;
}
#inner_img-3{
  margin-top: 30px;
  margin-left: 30px;
  height: 70px;
  display: flex;
}
.inner-word{
   margin-left: 10px;
   margin-top: 1px;
   width: 200px;
}
.inner-word b{
  font-size: medium;
}
#outer_img{
  display: flex;
}
#ticket_img{
  width: 245px;
  height:180px;
  margin-left: 250px;
}